<div class="container-fluid">
  <h1 class="mt-3">Servicios</h1>
  <p class="lead text-muted">En Domotica Integrada ofrecemos a nuestros clientes el montaje de dispositivos domóticos
    incluyendo las fases de ingeniería, diseño, integración, programación, instalación y puesta en marcha de todo el
    sistema domótico, incluyendo:</p>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i.ibb.co/vkQ12Cd/img1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  <h3 class="mt-4 texto-azul">Diseño e instalación de dispositivos domóticos en el hogar u oficina</h3>
  <p class="text-muted">Somos especialistas en domótica con amplia experiencia en el diseño e instalación de
    sistemas domóticos. Cuéntanos qué necesitas y nosotros te informaremos de las diferentes opciones y tecnologías
    domóticas que se pueden utilizar para mejorar así tu calidad de vida.</p>

  <h3 class="mt-4 texto-azul">Planos</h3>
  <p class="text-muted">Una completa información técnica en cuanto a la instalación que corresponda, tanto domótica
    como inmótica.</p>

  <h3 class="mt-4 texto-azul">Memoria</h3>
  <p class="text-muted">Toda la información necesaria de las calidades de los equipos y la integración de todo el
    sistema domótico en el hogar.</p>

  <h3 class="mt-4 texto-azul">Presupuestos</h3>
  <p class="text-muted">Una valoración presupuestaria clara y ajustada a la instalación requerida.</p>

  <h3 class="mt-4 texto-azul">Pliego de Condiciones</h3>
  <p class="text-muted">Una extensa información de las condiciones tanto técnicas como comerciales de una instalación
    de domótica-inmótica específica.</p>
</div>